.dashboard-page {
  min-width: 100%;
  min-height: 100%;
  position: absolute;
  background-color: aliceblue;
}

.signup-width {
  width: 50%;
}

.login-width {
  width: 30%;
}

.login-container {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: fixed;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: white;
  padding: 1.5rem 0;
}
.stack-margin {
  margin-right: 7%;
}

.form-headers {
  text-align: center;
}

.form-item {
  width: 90%;
  margin-left: 20px;
}

.form-button {
  align-self: center;
  width: 100px;
}

.form-links {
  text-align: center;
  align-self: center;
}

.flex-child {
  margin-top: 20px;
}
input[type="text"],
input[type="password"] {
  size: 16px;
  display: block;
}

input[type="submit"] {
  font-size: large;
}
