.sticky-note{
    position: relative;
    width: 200px;
    height: 200px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.sticky-note textarea{
    width: 90%;
    height: 90%;
    border: none;
    outline: none;
    font-size: 1.2rem;
    font-family: 'Roboto', sans-serif;
    overflow: auto;
    resize: none;
    background-color: inherit;
}

.pushpin{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 20px;
    height: 20px;
    cursor: move;
    background-color: red;
    border-radius: 50%;
}